<div id="<%= dom_id contact %>" class="bg-primary bg-opacity-10 p-3 rounded mt-2">
  <p class="h1 fs-1">
    <i class="bi bi-person-lines-fill"></i>
    <%= contact.identifier %>
  </p>

  <% if contact.person %>
    <p class="fs-4">
      <%= contact.person.name %>
    </p>
  <% end %>

  
  <% if contact.phone_numbers.any? %>
    <p class="h5 mt-4">Teléfonos asociados</p>
    <%= render contact.phone_numbers %>
  <% else %>
    <p class="text-secondary">No hay números de teléfono asociados</p>
  <% end %>
  <div class="actions mt-2 text-center">
    <%=link_to "Editar", edit_contact_path(contact) %>
  </div>
</div>
